* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfa3fa;
  font-family: "Times New Roman", Times, serif;
}

/* main cont */
.main_cont {
  /* border: 3px solid black; */
  width: 50rem;
  /* height: 35rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dddddd;
  border-radius: 1rem;
  padding: 2rem;
}

/* cont - heading */
.cont_heading {
    /* margin-top: 2rem; */
  font-size: 3rem;
  font-weight: 400;
}

/* stats - box */
.stats_box {
  /* border: 3px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12rem;
  margin: 2rem 0;
}

/* sample-text */
.sample_text {
  /* margin-bottom: 2rem ; */
  font-size: 1.5rem;
  font-weight: 500;
}
.stat_item{
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat_item p {
  font-size: 1.5rem;
}

.stat_item h1 {
  font-size: 4rem;
}
.stat_item h1 span {
  font-size: 2rem;
}

/* text input */
.text_input {
  /* border: 3px solid red; */
  width: 100%;
  height: 3rem;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}
.text_input:focus {
  outline: none;
}


.main_cont p{
    margin-top: 1rem;

}
